.card {
  display: flex;
  gap: 16px;
  padding: 10px 10px;
  background: #ffffff;
  border-radius: 12px;
  transition: all 0.3s ease;
  height: 100%;
}

/* .card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
  border-color: var(--border-color);
} */

.iconWrapper {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  background: var(--secondary-color); 
  color: var(--primary-color);      
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.title {
  margin: 0 0 8px 0;
  font-size: var(--body-size);
  font-weight: var(--fw-medium);
}

.descLine {
  margin: 0 0 4px 0; /* Khoảng cách giữa các dòng */
  font-size: var(--description-size);
  font-weight: var(--fw-light);
  line-height: 1.6;
}

.descLine:last-child {
  margin-bottom: 0;
}