.container {
  max-width: 100%;
  margin: 0 50px;
}

.sectionTitle {
  color: var(--primary-color);
  font-size: var(--header1-size);
  font-weight: var(--fw-medium);
  margin-bottom: 20px;
}



.description {
  font-size: var(--body-size);
  font-weight: var(--fw-light);
  line-height: 1.6;
  margin-bottom: 10px;
}

.ourProductImageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.ourProductImageWrapper img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}   

.pageTitleSection {
    width: 100%;
    height: calc(100vh - 60px);
    background: linear-gradient(to right, #0a1128, var(--primary-color));
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    padding: 0 100px;
}

.pageTitleImage {
  display: flex;
  justify-content: center;
  align-items: center;
}


.pageTitleImage img {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  position: static;
  color: #ffffff;
}

.title {
  font-size: var(--header1-size);
  font-weight: var(--fw-semibold);
  z-index: 2;
  position: relative;
  text-align: left;
  max-width: 90%;
  letter-spacing: 1px;
}

.pageSubtitle {
  font-size: var(--body-size);
  font-weight: var(--fw-light);
  line-height: 1.6;
  margin-top: 20px;
  color: #ffffff;
}

.ourProductSection {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr;
}

.ourValuesSection {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px ;
}

.ourValuesImageWrapper,
.ourTeamImageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.ourValuesImageWrapper img,
.ourTeamImageWrapper img {
  width: 100%;
  height: auto;
  max-height: 240px;
  display: block;
  border-radius: 16px;
  object-fit: contain;
  object-position: center;
}

.ourTeamSection {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 1200px) {
  .ourValuesSection,
  .ourTeamSection {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
  }

  .ourValuesImageWrapper img,
  .ourTeamImageWrapper img {
    max-height: 360px;
    object-fit: contain;
  }
}



@media (max-width:768px) {
  .container {
    margin: 0 20px;
  }
  
  .pageTitleSection {
    padding: 0 20px;
  }
  
  .ourValuesSection, .ourTeamSection {
    grid-template-columns: 1fr;
  }

  .ourTeamSection .content {
    order: 1;
  }

  .ourTeamImageWrapper {
    order: 2;
    margin-bottom: 20px;
  }
}