.backSection {
  padding: 20px 0;
  text-align: center;
}

.backButton {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: var(--description-size);
  font-weight: var(--fw-medium);
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.backButton:hover {
  background-color: #000;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}